.hero {
    width: 100%;
    height: 70vh;
    background: url("https://b850f344d5e377cc7ae2-c9c99c87bd5aa3c51581a6da267de3ca.ssl.cf1.rackcdn.com/PostImagem/47949/0000home_capa_3.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
    color: white;
}

/* camada escura por cima da imagem */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 38px;
    font-weight: bold;
}

.hero h2 span {
    color: #4da3ff;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
    max-width: 600px;
}
