@import url("reset.css");
@import url("header.css");
@import url("hero.css");
@import url("stacks.css");
@import url("projects.css");
@import url("footer.css");

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}
