.projects {
    padding: 40px 20px;
    text-align: center;
}

.project-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.project-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-4px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
